{{> login/styles}}

<div class="login-header">
  <img class="brand-logo" src="{{settings.logo_url}}" alt="Logo" />
  <h1 class="text-center">{{t 'Please fill out your profile'}}</h1>
  <p class="text-center"><a href="#" data-hull-action="renderSection" data-hull-section="profile">{{t "I will complete it later"}}</a></p>
</div>

<div class="alert-message"></div>

<form class="profile-form" data-action="profile">
  <fieldset>
  <ul class="list-group">
    {{#each profileFormFields}}
    <li class="list-group-item">
      <input type="{{inputType}}" name="{{name}}" class="form-control" placeholder="{{title}}" value="{{value}}" {{#if required}}required{{/if}}>
    </li>
    {{/each}}
  </ul>

  <button class="btn btn-block btn-primary" type="submit">
    {{t "Save my profile"}}
  </button>
  </fieldset>
</form>
