{{> login/styles}}

<div class="login-header">
  <img class="brand-logo" src="{{ship.appearance.logo_url}}" alt="Logo" />
  <h1 class="text-center">{{t 'thank_you_title'}} {{me.name}}</h1>
  <p class="login-header-subtitle">
    <a href="#" data-hull-action="renderSection" data-hull-section="profile-form">{{t "Edit my profile"}}</a>
  </p>
</div>

{{#if ship.settings.social.enabled}}
<div class="social-login">
  {{#each authServices}}
  {{#if linked}}
    <button data-hull-action="unlinkIdentity" data-hull-provider="{{@key}}" class="btn btn-block social-btn social-btn-{{@key}}">
      {{#if ../ship.appearance.show_social_icons}}<i class="fa fa-{{@key}}"></i>{{/if}}
      &nbsp;
      {{t "Unlink"}} {{humanize @key}}
    </button>
  {{else}}
    <button data-hull-action="linkIdentity" data-hull-provider="{{@key}}" class="btn btn-block social-btn social-btn-{{@key}}">
      {{#if ../ship.appearance.show_social_icons}}<i class="fa fa-{{@key}}"></i>{{/if}}
      &nbsp;
      {{t "Link"}} {{humanize @key}}
    </button>
  {{/if}}
  {{/each}}
</div>
{{/if}}


<div class="login-footer text-center">
 <a href="#" data-hull-action="logout">{{t "Log out"}}</a>
</div>
