{{> login/styles}}

<div class="login-header">
  <img class="brand-logo" src="{{settings.logo_url}}" alt="Logo" />
  <h1 class="text-center">{{t 'Recover password'}}</h1>
  <p class="text-center"><a href="#" data-hull-action="renderSection" data-hull-section="sign-in">{{t "Back to login"}}</a></p>
</div>

<div class="alert-message"></div>

<form class="signup-form" data-action="recover-password">
  <ul class="list-group">
    <li class="list-group-item">
      <input type="email" name="email" class="form-control" placeholder="{{t "Email"}}" value="{{currentEmail}}" required>
    </li>
  </ul>

  <button class="btn btn-block btn-primary" type="submit">
    {{t "Recover password"}}
  </button>

</form>
