{{> login/styles}}

<div class="login-header">
  {{#if ship.appearance.logo_url}}
    <img class="brand-logo" src="{{ship.appearance.logo_url}}" alt="Logo" />
  {{/if}}
  <h1 class="login-header-title">{{t 'signin_title'}}</h1>
  <p class="login-header-subtitle">
    {{t "Don't have an account?"}}
    <a href="#" data-hull-action="renderSection" data-hull-section="sign-up">{{t "Sign up"}}</a>
  </p>
</div>

{{#if ship.social.enabled}}
<div class="social-login">
  {{#each authServices}}
  <button data-hull-action="login" data-hull-provider="{{@key}}" class="btn btn-block social-btn social-btn-{{@key}}">
    {{#if ../ship.appearance.show_social_icons}}<i class="fa fa-{{@key}}"></i>{{/if}}
    &nbsp;
    {{t "Log in with"}} {{humanize @key}}
  </button>
  {{/each}}
</div>
<div class="or-separator">
  <span>{{t "or"}}</span>
</div>
{{/if}}

<form class="login-form" data-action="login">
  <fieldset>
  <ul class="list-group">
    <li class="list-group-item">
      <input type="text" name="login" class="form-control" placeholder="{{t "Email or Username"}}" value="{{currentEmail}}" required>
    </li>
    <li class="list-group-item">
      <input type="password" name="password" class="form-control" placeholder="{{t "Password"}}" required>
    </li>
  </ul>

  <button class="btn btn-block btn-primary" type="submit">
    {{t "Log in"}}
  </button>
  </fieldset>
</form>

<div class="login-footer">
  <p>
    <a href="#" data-hull-action="renderSection" data-hull-section="recover-password">{{t "Forgot your password?"}}</a>
  </p>
</div>

