{{> login/styles}}

<div class="login-header">
  {{#if ship.appearance.logo_url}}
    <img class="brand-logo" src="{{ship.appearance.logo_url}}" alt="Logo" />
  {{/if}}
  <h1 class="login-header-title">{{t 'signup_title'}}</h1>
  <p class="login-header-subtitle">
    {{t "Already have an account?"}}
    <a href="#" data-hull-action="renderSection" data-hull-section="sign-in">{{t "Log in"}}</a>
  </p>
</div>

<div class="alert-message"></div>

{{#if ship.social.enabled}}
<div class="social-login">
  {{#each authServices}}
  <button data-hull-action="login" data-hull-provider="{{@key}}" class="btn btn-block social-btn social-btn-{{@key}}">
    {{#if ../ship.appearance.show_social_icons}}<i class="fa fa-{{@key}}"></i>{{/if}}
    &nbsp;
    {{t "Sign up with"}} {{humanize @key}}
  </button>
  {{/each}}
</div>
<div class="or-separator">
  <span>{{t "or"}}</span>
</div>
{{/if}}

<form class="signup-form" data-action="signup">
  <ul class="list-group signup-form-fields">
    {{#each ship.signup.form}}
    <li class="list-group-item">
      <input type="{{inputType}}" name="{{name}}" class="form-control" placeholder="{{title}}" {{#if required}}required{{/if}}>
    </li>
    {{/each}}
    {{#ifEqual ship.general.accept_marketing "hidden"}}
    {{else}}
    <li class="list-group-item accept-marketing">
      <input id="accept-marketing" type="checkbox" value="true" name='accept_marketing' {{#ifEqual ship.general.accept_marketing "checked"}}checked='checked'{{/ifEqual}}>
      <label for="accept-marketing">{{t "accept_marketing_question"}}</label>
    </li>
    {{/ifEqual}}
  </ul>

  <button class="btn btn-block btn-primary" type="submit">
    {{t "Sign up"}}
  </button>

</form>

<div class="login-footer">
  <p>
    {{t "By signing up you agree to our"}}
    <a href="{{ship.general.privacy_polycy_url}}" target="_blank">{{t "Privacy Policy"}}</a>
    {{t "and"}}
    <a href="{{ship.general.terms_of_service_url}}" target="_blank">{{t "Terms of Service"}}</a>
  </p>
</div>
